---
import Layout from "../layouts/Layout.astro"
---
<Layout>
  <div id="container">
    <h2>blog</h2>
    <div id="blog">
      Nothing here yet!
    </div>
  </div>
</Layout>

<style>
  #container {
    flex-grow: 1;
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
</style>