<footer>
  <a href="http://github.com/sz44">github</a>
  <a href="https://www.linkedin.com/in/semion-zilbert-424040147/">linkedin</a>
  <a href="https://x.com/zilberion">x</a>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 1rem;
  }
</style>