<footer>
  <a href="http://github.com">github</a>
  <a href="http://linkedin.com">linkedin</a>
  <a href="http://x.com">x</a>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 1rem;
  }
</style>