---
import { getCollection, render } from "astro:content";

const order = ["fastmaskai", "photoMasking", "curve3D", "retroFPS", "sandSim", "canvasExperiments"];

const projects = await getCollection("projects");

const projectsMap = new Map();
for (let project of projects) {
  projectsMap.set(project.id, project);
}

const orderedProjects = [];
for (const id of order) {
  orderedProjects.push(projectsMap.get(`${id}.md`));
}

// projects.sort((a, b) => a.data.order - b.data.order);
---

<div id="container">
  <h2>projects</h2>
  <div id="projects">
    {
      orderedProjects.map(async (project) => {
        const { Content } = await render(project);
        return <article><Content /></article>;
      })
    }
  </div>
</div>

<style>
  #container {
    flex-grow: 1;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  article {
    border-bottom: 1px solid white;
    img {
      height: 500px;
    }
    a {
      color: #00b3ff;
      text-decoration: none;
    }
    h3 {
      margin: 0;
    }
  }

  #projects {
  }
</style>
