---
import { getEntry, render } from "astro:content";
import { Image } from "astro:assets";

const order = ["PDFPacker", "reconciliation", "fastmaskai", "curve3D", "photoMasking", "retroFPS", "sandSim"];

const orderedProjects = [];
for (let id of order) {
  let project = await getEntry("projects", id.toLowerCase());
  orderedProjects.push(project);
}
---
<div id="container">
  <h2>PROJECTES</h2>
  <div id="projects">
    {
      orderedProjects.map(async (project) => {
        if (!project) return;
        const { Content } = await render(project);
        return (
        <article>
          <Image src={project.data.image.url} alt={project.data.image.alt} width="450" height="300"/>
          <div class="text">
            <Content />
          </div>
        </article>)
      })
    }
  </div>
</div>

<style>
  #container {
    flex-grow: 1;
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  article {
    border-bottom: 1px solid white;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    /* min-width: 64rem; */
    p {
      /* max-width: 30rem; */
    }
    img {
      height: 300px;
      max-width: 450px;
      /* float: right; */
      /* margin-left: 20px; */
    }
    a {
      color: #00b3ff;
      text-decoration: none;
    }
    h3 {
      margin: 0;
    }
  }

  #projects {
  }
</style>
